[Unit]
Description=start ros freenect
Wants=ros-core.service
After=ros-core.service

[Service]
ExecStart=/bin/bash -c 'source /opt/ros/{{ ros_release }}/setup.bash; sleep 5; roslaunch freenect_launch freenect.launch depth_registration:=true'
Restart=on-abort

[Install]
WantedBy=multi-user.target
